/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("/assets/background.png");
    color: white;
    font-family: 'Rubik', sans-serif;
    /* background-color: blue; */
}