<!--The content below is only a placeholder and can be replaced.-->

<div [ngClass]="{'redTurn': phase != 'waiting' && (turn == 'red' || phase =='redWin'), 'blueTurn': phase !='waiting' && (turn == 'blue' || phase == 'blueWin')}" class='container-fluid'>
  <div class='row top-row' *ngIf="phase !== ''">
    <div class='col-md-7'>
      <div class='col-sm-6'>
        <h3 class='text score dojo-score'>Codenames</h3>
      </div>
      <div class='col-sm-6'>
        <p class='rules-text'>
          Each turn a codemaster will decide on a hint and the number
          of cards associate with that hint.</p>
          <p class='rules-text'>Members of the same team will then take guesses based on that hint
            to try and reveal their team's cards.
        </p>
    </div>

    </div>
    <div class='col-md-5'>
      <div class='col-sm-6'>
        <h3 class='text score red-score'>Red Score:  {{redTeamScore}}</h3>
      </div>
      <div class='col-sm-6'>
        <h3 class='text score blue-score'>Blue Score:  {{blueTeamScore}}</h3>
      </div>
    </div>


  </div>

  <!-- <div class='col-md-12'> -->
    <div class='col-md-4'>

      <div *ngIf="phase == 'waiting'">
        <h3>Waiting for game to start</h3>
      </div>

      <div *ngIf="phase == 'hinting' && client== 'guessing'">
        <h3>Waiting for Hint...</h3>
      </div>
      <div *ngIf="phase == 'redWin'">
          <h3>Red Team Wins!</h3>
      </div>
    
      <div *ngIf="phase == 'blueWin'">
        <h3>Blue Team Wins!</h3>
      </div>
    
      <h3 *ngIf="phase!=''" class='text'><span class="capitalize">{{turn}}</span> team's turn</h3>
      <div *ngIf="phase == 'hinting' && client == 'hinting'">
        <h3 class='text'>Hinting Phase</h3>
        <form (submit)="submitHint()">
          <div class='form-group'>
            <label class="hint-label">Hint: </label>
            <input type="text" name="hint" [(ngModel)]="hint" class='form-control' placeholder="Hint">
          </div>
          <div class='form-group'>
          <label class="hint-label"># of cards: </label>
          <input type="text" name="count" [(ngModel)]="count" class='form-control' placeholder="1">
          </div>
          <input type="submit" value="Submit Hint" class='btn btn-default dn-button-hint'>
        </form>
      </div>

      <div *ngIf="phase == 'guessing' && client=='guessing'">

        
        <table class='table hint-table'>
          <tr class='hint-labels'>
            <td>Hint</td>
            <td>#</td>
          </tr>
          <tr class='hint-hints'>
            <td>{{LastHint}}</td>
            <td>{{HintCount}}</td>
          </tr>
        </table>
        <button (click)="endTurn()" class='btn btn-default dn-button-hint'>End Turn</button>
      </div>

    </div>

    <div class='col-md-8'>
      
        <div *ngIf="client == 'hinting'">
            <div class="row card-container" [ngClass]="{'card-container-red': turn=='red', 'card-container-blue': turn=='blue'}">
              <div *ngFor="let card of cards; let i = index">
                <!-- <div class="clearfix" *ngIf="i % 5 == 0"></div> -->
                <div class="col-sm-2 card" *ngIf="i % 5 == 0" [ngClass]="{'redCard': card.color == 'red' && !card.isExposed, 'blueCard': card.color == 'blue' && !card.isExposed, 'whiteCard': card.color == 'white' && !card.isExposed, 'blackCard': card.color == 'black' && !card.isExposed, 'testClass': card.isExposed, 'exposedRed': card.isExposed && card.color == 'red', 'exposedBlue': card.isExposed && card.color == 'blue', 'exposedWhite': card.isExposed && card.color == 'white', 'exposedBlack': card.isExposed && card.color == 'black'}">{{card.text}}</div>
                <div class="col-sm-2 card" *ngIf="i % 5 != 0"[ngClass]="{'redCard': card.color == 'red' && !card.isExposed, 'blueCard': card.color == 'blue' && !card.isExposed, 'whiteCard': card.color == 'white' && !card.isExposed, 'blackCard': card.color == 'black' && !card.isExposed, 'testClass': card.isExposed, 'exposedRed': card.isExposed && card.color == 'red', 'exposedBlue': card.isExposed && card.color == 'blue', 'exposedWhite': card.isExposed && card.color == 'white', 'exposedBlack': card.isExposed && card.color == 'black'}">{{card.text}}</div>
              </div>
          </div>
        </div>

        <div *ngIf="client == 'guessing'">
            <div class="row card-container" [ngClass]="{'card-container-red': turn=='red', 'card-container-blue': turn=='blue'}">
                <div *ngFor="let card of cards; let i = index">
                  <!-- <div class="clearfix" *ngIf="i % 5 == 0"></div> -->
                  <div class="col-md-offset-1 col-md-2 card" *ngIf="i % 5 == 0" (click)="clickCard(i)" [ngClass]="{'exposedRed': card.isExposed && card.color == 'red', 'exposedBlue': card.isExposed && card.color == 'blue', 'exposedWhite': card.isExposed && card.color == 'white', 'exposedBlack': card.isExposed && card.color == 'black'}">{{card.text}}</div>
                  <div class="col-md-2 card" *ngIf="i % 5 != 0" (click)="clickCard(i)" [ngClass]="{'exposedRed': card.isExposed && card.color == 'red', 'exposedBlue': card.isExposed && card.color == 'blue', 'exposedWhite': card.isExposed && card.color == 'white', 'exposedBlack': card.isExposed && card.color == 'black'}">{{card.text}}</div>
                  
                </div>
            </div>
        </div>


    </div>
    <!-- Homepage-->
    <div class='col-md-12'>
      <div *ngIf="client == 'waiting'">
          <button *ngIf="client =='waiting'" (click)="newGame()" class='btn btn-default dn-button-start center-block'>Start a new game!</button>
        <table class='table game-table table-curved'>
          <tr>
            <td align="center" colspan="2" class="table-header">Codenames</td>
          </tr>
          <tr *ngFor="let game of games">
            <td class='game-row'  width="50%">{{game.gameId}}</td>
            <td width="50%"><button (click) = "joinGame(game.gameId)" class="btn btn-default dn-button">Join</button></td>
          </tr>
        </table>


        <!-- <ul>
          <li *ngFor="let game of games">
            <button (click) = "joinGame(game.gameId)" class="btn btn-default dn-button">{{game.gameId}} Join Game</button>
          </li>
        </ul> -->
      </div>

    </div>
  <!-- </div> -->
</div>
<div class="navbar navbar-fixed-bottom dn-footer">
  <span class='rules-text footer-text'> 2017 Mike Bergstrom and Michael Hartley</span>
    
</div>


